:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2em;
  line-height: 2.1;
}
h2 {
  font-size: 1.5em;
  line-height: 1.6;
}
h3 {
  font-size: 1.17em;
  line-height: 1.27;
}
h4 {
  font-size: 1em;
  line-height: 1.1;
}
h5 {
  font-size: .83em;
  line-height: .93;
}
h6 {
  font-size: .67em;
  line-height: .77;
}
@media only screen and (min-width 600px) {
.bodytext {
  max-width: 75vw;
}
}
@media only screen and (min-width 900px) {
.bodytext {
  max-width: 50vw;
}
}
